html {
    font-size: 22px;
  }
  
  body {
    background-color:papayawhip;
    color: rgb(15, 34, 237);
  }
  
  a {
    color: rgb(26, 238, 220);
  }
  
  a:visited {
    color: brown;
  }
  
  a:hover,
  a:active {
    color: darkgreen;
  }
  
  table,
  tr,
  th,
  td,
  caption {
    border: 1px solid #f0ec0a;
    font-family: "Courier New", Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
  }
